* {
    padding: 0;
    margin: 0;
    /* outline: 1px solid red; */

}

html {
    scroll-behavior: smooth;
}
.overlay {
    background: linear-gradient(0deg, #252525 35%, #1A1B1C 65%);
    position: fixed;
    top: 30px;
    right: 0;
    height: 100vh;
    width: 0;
    z-index: +11;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    overflow-x: hidden;
    transition: .4s ease;
    padding-top: 30px !important;
}

.overlay a {
    font-size: 20px;
    color: var(--i, #bbb);
    padding: 10px;
    text-decoration: none;
    transition: .5s ease;
    width: 100%;

}

.overlay a:hover {
    transform: scaleY(1.5);
    transition: .2s ease;
}

.fa-xmark {
    position: absolute;
    font-size: 2rem;
    right: 15px;
    top: 10px;
    color: white;
}

.fa-xmark:hover {
    transform: rotate(180deg);
    transition: .5s ease;
}

.active {
    width: 25%;
    padding: 0px 16px;
}

.header {
    background-image: url('../img/Rectangle\ 51.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.top {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 120px;
    opacity: 50%;
    z-index: +10;


}

.nav {
    position: fixed;
    top: 30px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: +10;

}

.nav a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.nav i {
    display: none;
}

.nav img {
    width: 200px;
}

.dontcook {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 754px;
}

.dontcook p:nth-child(1) {
    font-size: 48px;
    color: white;
    width: 600px;
    text-align: center;
    font-weight: 500;
}

.dontcook p:nth-child(2) {
    color: white;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 100;
    font-family: 'DM Sans', sans-serif;

}

.dontcook a {
    height: 53px;
    width: 169px;
    background-color: #E8BE7F;
    border: none;
    outline: none;
    margin-top: 80px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}



.AboutUs {

    display: flex;
    justify-content: center;
    padding: 150px 0 0 0;
    background-color: #252525;
    height: 100%;
    width: 100%;
    gap: 50px;

    flex-wrap: wrap;

}

.about_txt {
    padding: 20px 0;
}

.about_txt p {
    color: white;
}

.about_txt p:nth-child(1) {
    color: #E8BE7F;
    font-size: 28px;
    font-weight: 100;
    width: 570px;
    display: flex;
    justify-content: center;
}

.about_txt h1 {
    color: white;
    padding: 40px 0 60px 0;
    font-size: 48px;
    width: 570px;
    display: flex;
    justify-content: center;
}

.about_txt p:nth-child(3) {
    color: white;
    text-align: center;
    width: 570px;
    font-size: 28px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;

}

.isharet {
    position: absolute;
    top: 105%;
    right: 1px;
}

.Blog {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    height: 100%;
    width: 100%;

}

.blog_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 0 0;
}

.blog_txt P:nth-child(1) {
    color: #E8BE7F;
    font-size: 28px;
}

.blog_txt P:nth-child(2) {
    color: white;
    font-size: 48px;
    padding-top: 50px;
}

.blog-img {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    width: 100%;

    flex-wrap: wrap;
    padding-bottom: 100px;

}

.first_img {
    background-image: url("../img/blog-13-740x600\ 1.svg");
    width: 433px;
    height: 484px;
    background-repeat: no-repeat;
}

.second_img {
    background-image: url("../img/blog-13-740x600\ 1 (1).svg");
    width: 433px;
    height: 484px;
    background-repeat: no-repeat;
}

.third_img {
    background-image: url("../img/blog-13-740x600\ 1 (2).svg");
    width: 433px;
    height: 484px;
    background-repeat: no-repeat;
}

.redact p:nth-child(1) {
    color: #E8BE7F;
    font-size: 20px;
    padding: 10px 10px;
}

.food {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 430px;
}

.food p:nth-child(1) {
    color: #E8BE7F;
    font-size: 24px;
}

.food p:nth-child(2) {
    color: white;
    font-size: 28px;
    width: 85%;
    padding: 10px;
}

.OurMenu {
    background-color: #252525;
    height: 1131px;
}

.ourmenu_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourmenu_txt p:nth-child(1) {
    font-size: 28px;
    color: #E8BE7F;
}

.ourmenu_txt p:nth-child(2) {
    font-size: 48px;
    color: white;
    padding: 40px 0 60px 0;

}

.border_ {
    display: flex;
    justify-content: center;
}

.border_ p {
    border-bottom: 1px solid #565555;
    width: 80%;
}

.links {
    display: flex;
    justify-content: center;
    font-size: 28px;
    gap: 150px;
    align-items: center;
    height: 120px;
}

.links button {
    color: white;
}

/* .links a:nth-child(1) {
    color: #E8BE7F;
} */

.ourmenulink {
    padding-top: 100px;

}

.lasagne-txt {
    padding: 20px 10px;
}

.fee {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;

}

.fee p:nth-child(2) {
    border-bottom: 1px solid #565555;
    width: 180px;
}

.fee span:nth-child(3) {
    color: #E8BE7F;
}

.lasagne-txt p {
    color: white;
}

.ourtxt p {
    width: 80%;
    padding-top: 10px;
}

.lasag {
    display: flex;
    align-items: center;
    height: 200px;
}

.menu-right {
    background-image: url("../img/image\ 8\ \(1\).svg");
    height: 716px;
    width: 100%;
    background-repeat: no-repeat;
}

.menu-left {
    background-image: url("../img/image\ 7.svg");
    width: 100%;
    height: 754px;
    background-repeat: no-repeat;
    padding-left: 10%;
}

.menu {
    display: flex;
    justify-content: center;

}

.menu-right {
    margin-left: 5%;
    padding-left: 7%;

}

.during {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
}

.during span {
    color: #E8BE7F;
    padding: 0 5px;
}

.specialoffer {
    background-color: #252525;
    width: 100%;
    height: 1500px;
}

.uzor {
    background-image: url("../img/7426\ [Converted]-01\ 2.svg");
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.uzor p:nth-child(1) {
    color: #E8BE7F;
    font-size: 28px;

}

.uzor p:nth-child(2) {
    color: white;
    font-size: 48px;
    padding-top: 20px;
}

.offerimg {
    /* padding-top: 100px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.thirdoffer,
.firstoffer,
.secondoffer {
    width: 433px;
    height: 484px;
}

.thirdoffer p:nth-child(2),
.firstoffer p:nth-child(2),
.secondoffer p:nth-child(2) {
    color: #E8BE7F;
    text-align: center;
    font-size: 24px;
}

.thirdoffer p:nth-child(3),
.firstoffer p:nth-child(3),
.secondoffer p:nth-child(3) {
    color: white;
    text-align: center;
    font-size: 28px;
    width: 95%;
}

.thirdoffer img,
.firstoffer img,
.secondoffer img {
    width: 433px;
    height: 484px;
    padding-top: 100px
}

.secondoffer {
    padding-top: 50px;
}

.res {
    display: flex;
    justify-content: center;
    width: 100%;
}

.offer-img {
    background-image: url('../img/Rectangle\ 60\ \(3\).svg');
    height: 754px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.offer-img p {
    color: white;
    font-size: 52px;
    width: 65%;
    text-align: center;
}

.reservation {
    background-color: #252525;
    /* padding-top: 350px; */
    height: 1850px;
}

.reservationn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-reserv {
    width: 70%;
    height: 1000px;
    background-color: black;
    color: black;
    border: 1px solid #E8BE7F;
    margin-top: -150px;
}

.reserv_head_txt {
    color: white;
}

.reserv_head_txt h1 {
    font-size: 70px;
    text-align: center;
    padding-top: 150px;
}

.first-inp {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.first-inp input {
    width: 35%;
    height: 50px;
    background-color: #1A1B1C;
    border: 1px solid #E8BE7F;
    padding: 10px 20px;

}

input {
    font-size: 20px;
    text-align: center;
    outline: none;
    color: white;
}



select {
    font-size: 20px;
    text-align: center;
}

textarea {
    outline: none;
    color: white;
    font-size: 20px;
}

.second-inp {
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
}

.second-inp input,
.second-inp select {
    height: 50px;
    background-color: #1A1B1C;
    color: white;
    margin-top: 50px;
    border: 1px solid #E8BE7F;
    padding: 10px 20px;


}

.selects {
    position: relative;
    /* height: 30px; */
    top: 0;
    width: 25%;

}

.selects img {
    position: absolute;
    top: 112px;
    left: 20px;
    /* left: 10px; */
}

.selects select {
    width: 100%;
    height: 70px;
}

.datee {
    position: relative;
    width: 25%;

}

.datee img {
    position: absolute;
    top: 115px;
    left: 15px;

}

.datee input {
    width: 85%;
}

.clocks {
    position: relative;
    width: 24%;

}

.clocks img {
    position: absolute;
    top: 112px;
    left: 20px;

}

.clocks input {
    width: 85%;



}


.textarea {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea textarea {
    width: 80%;
    height: 260px;
    max-width: 80%;
    max-height: 260px;
    min-width: 80%;
    min-height: 260px;
    margin-top: 50px;
    background-color: #1A1B1C;
    border: 1px solid #E8BE7F;
    padding: 10px 20px;

}

.textarea button {
    margin-top: 50px;
    width: 84%;
    height: 50px;
    background-color: #E8BE7F;
    padding: 10px 20px;
}

.reservation img {
    margin-top: -45px;
}

.experiencedteam {
    background-color: #252525;
    height: 1000px;
    width: 100%;
    padding-top: 50px;
}

.experiencedteam p:nth-child(1) {
    color: #E8BE7F;
    font-size: 28px;
    text-align: center;
}

.experiencedteam p:nth-child(2) {
    color: white;
    font-size: 48px;
    text-align: center;
    padding-top: 20px;
}

.team-img {
    background-image: url('../img/image\ 9.svg');
    width: 100%;
    /* height: 1200px; */
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    flex-wrap: wrap;
}

.team-img p:nth-child(2) {
    text-align: center;
    font-size: 28px;
    color: white;
}

.team-img p:nth-child(3) {
    text-align: center;
    font-size: 32px;
    color: #E8BE7F;
}

.willium,
.steave,
.mehri {
    width: 400px;
    height: 493px;
    text-align: center;
}

.footer {
    background-color: #252525;
    height: 100%;
}

.footerPart {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    text-align: center;
    /* padding-top: 150px; */
}



.secondpart img {
    width: 200px;
    margin-top: -50px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.firstpart a {
    display: flex;
    padding: 30px 0;
    font-size: 22px;
}

.secondpart p {
    padding: 20px 0 0 0;
}

.secondpart p:nth-child(2) {
    color: white;
    padding-top: 30px;
}

.secondpart a:nth-child(3) {
    color: #E8BE7F;
    font-size: 24px;
    width: 100%;
}

.secondpart p {
    font-size: 22px;
    color: #E8BE7F;
}

.thirdpart a {
    display: flex;
    padding: 30px 0;
    font-size: 22px;

}

.secondpart p:nth-child(5) {
    color: grey;
    font-size: 16px;
    margin-top: -15px;
}

.secondpart p:nth-child(7),
.secondpart p:nth-child(8),
.secondpart p:nth-child(10),
.secondpart p:nth-child(11) {
    color: grey;
    font-size: 16px;
    margin-top: -15px;
}

.footer-img {
    display: flex;
    justify-content: center;
    margin-left: -60px;
}

.submit {
    position: fixed;
    top: 1%;
    left: 1%;
    visibility: hidden;
    transition: .5s ease-in;


}

.registration-submit {
    width: 700px;
    height: 600px;
    background-color: #252525;

}

.on-res {
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 40px;
}

.thanks p {
    border: 1px solid #E8BE7F;
    /* width: 60%; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: white;
    padding: 0 10px;
    background-color: #565555;
}

.thanks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.reg-sub {
    /* display: block; */
    visibility: visible;
    top: 25%;
    left: 25%;
    transition: .5s ease;

}

.hidden {
    display: none
}



.links button {
    color: white;
    background-color: #252525;
    outline: none;
    border: none;
    font-size: 20px;


}

.links button:focus {
    color: #E8BE7F;
}

.second-inp option {
    border: 1px solid #E8BE7F;
    height: 20px;
    padding: 20px 0;

}

.second-inp select {
    padding: 20px 0;

}

.select option {
    border: 1px solid #E8BE7F;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    background: url('../img/icons8-down-20.png') no-repeat;
    width: 15px;
    height: 15px;

}

input[type=time]::-webkit-calendar-picker-indicator {
    opacity: 1;
    background: url('../img/icons8-down-20.png') no-repeat;
    width: 15px;
    height: 15px;
}

input::placeholder,
textarea::placeholder {
    color: white;
    font-size: 18px;
}


select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../img/icons8-down-20.png') no-repeat;
    background-position: calc(100% - 20px) 25px;

}

/* .second-inp img{
    width: 20px;
} */



@media(max-width:1350px) {

    .fee p:nth-child(2) {
        border-bottom: 1px solid #565555;
        width: 120px;
    }

    .menu-right {
        background-image: url("../img/image\ 8\ \(1\).svg");
        height: 716px;
        width: 100%;
        background-repeat: no-repeat;
    }
}

@media(max-width:1315px) {

    .third_img {
        margin-top: 20px
    }

    .offerimg {
        /* padding-top: 100px; */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .OurMenu {
        height: 1300px;
    }

    .secondoffer {
        padding: 0;
    }

    .thirdoffer {
        padding: 120px 0;
    }

    .reservation {
        background-color: #252525;
        /* height: 756px; */
        padding-top: 350px;
    }

    .selects img {
        position: absolute;
        top: 112px;
        left: 10px;
        /* left: 10px; */
    }

    .datee img {
        position: absolute;
        top: 115px;
        left: 10px;

    }

    .clocks img {
        position: absolute;
        top: 112px;
        left: 10px;

    }

}

@media(max-width:1225px) {
    .lasag {
        display: block;
        padding-top: 50px;
    }

    .fee {
        padding: 0;
    }

    .lasagne-txt {
        padding: 10px 0;
    }







}

@media(max-width:1260px) {
    .links {
        display: flex;
        justify-content: center;
        font-size: 28px;
        gap: 100px;
        align-items: center;
        height: 120px;
    }

    .reg-sub {
        /* display: block; */
        visibility: visible;
        top: 25%;
        left: 22%;
        transition: .5s ease;

    }

}

@media(max-width:1065px) {
    .links {
        display: flex;
        justify-content: center;
        font-size: 28px;
        gap: 80px;
        align-items: center;
        height: 120px;
    }

    .reg-sub {
        /* display: block; */
        visibility: visible;
        top: 25%;
        left: 15%;
        transition: .5s ease;

    }


}

@media(max-width:1220px) {
    .experiencedteam {
        background-color: #252525;
        height: 100%;
        width: 100%;
        padding-top: 150px;
        padding-bottom: 350px;
    }

    .team-img {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .mehri {
        padding-top: 120px;
    }


    .second-inp {
        flex-wrap: wrap;
        gap: 20px;
    }

    .selects {
        position: relative;
        /* height: 30px; */
        top: 0;
        width: 400px;

    }

    .selects img {
        position: absolute;
        top: 112px;
        left: 20px;
        /* left: 10px; */
    }

    .selects select {
        width: 250px;
        height: 70px;
    }

    .datee {
        position: relative;
        width: 250px;

    }

    .datee img {
        position: absolute;
        top: 115px;
        left: 15px;

    }

    .datee input {
        width: 200px;
    }

    .clocks {
        position: relative;
        width: 200px;

    }

    .clocks img {
        position: absolute;
        top: 112px;
        left: 20px;

    }

    .clocks input {
        width: 200px;

    }

    .bg-reserv {
        height: 1100px;
    }

}

@media(max-width:990px) {
    .lol {
        display: flex;
        justify-content: space-around;
        align-items: start;
    }

    .border_ {
        display: none;
    }

    .links {
        display: block;
    }

    .links button {
        display: flex;
        padding-top: 100px;
    }

    .menu {
        display: block;
    }

    .OurMenu {
        background-color: #252525;
        height: 1731px;
    }

    .isharet {
        display: none;
    }

    .menu-right {
        background-image: none;
        height: 716px;
        width: 100%;
        background-repeat: no-repeat;
    }

    .menu-left {
        background-image: none;
        width: 100%;
        height: 754px;
        background-repeat: no-repeat;
        /* padding-left: 10%; */
    }



    .ourtxt p {
        width: 300px;
        padding-top: 10px;
    }

    .about_img img {
        width: 100%;
    }

}

@media(max-width:974px) {
    .selects {
        position: relative;
        /* height: 30px; */
        top: 0;
        width: 250px;

    }

    .selects img {
        position: absolute;
        top: 112px;
        left: 20px;
        /* left: 10px; */
    }

    .selects select {
        width: 250px;
        height: 70px;
    }

    .registration-submit {
        width: 400px;
    }

    .reg-sub {
        /* display: block; */
        visibility: visible;
        top: 25%;
        left: 30%;
        transition: .5s ease;

    }

    .thanks p {
        font-size: 20px;
        width: 300px;
        text-align: center;
    }

}

@media(max-width:883px) {
    .redact {
        margin-top: 25px;
    }

    .secondoffer {
        padding-top: 120px;
    }

    .specialoffer {
        background-color: #252525;
        width: 100%;
        height: 2400px;
    }

    .uzor {
        width: 100%;
        height: 20%;

    }

    .OurMenu {
        height: 1800px;
    }
}

@media(max-width:830px) {
    .team-img {
        flex-direction: column;
        align-items: center;

    }

    .steave {
        padding-top: 150px;
    }
}

@media(max-width:843px) {
    .bg-reserv {
        height: 1200px;
    }

    .experiencedteam {
        padding-top: 250px;
    }
}



@media(max-width:768px) {
    .nav {
        justify-content: space-between;
        padding-left: 30px;
    }

    .nav a {
        display: none;
    }

    .nav i {
        display: block;
        font-size: 36px;
        color: white;
        padding-right: 60px;
    }

    .second-inp {
        flex-direction: column;
        align-items: center;
    }

    .selects {
        position: relative;
        /* height: 30px; */
        top: 0;
        width: 300px;

    }

    .selects img {
        position: absolute;
        top: 112px;
        left: 20px;
        /* left: 10px; */
    }

    .selects select {
        width: 300px;
        height: 70px;
    }

    .datee {
        position: relative;
        width: 300px;

    }

    .datee img {
        position: absolute;
        top: 115px;
        left: 15px;

    }

    .datee input {
        width: 250px;
    }

    .clocks {
        position: relative;
        width: 300px;

    }

    .clocks img {
        position: absolute;
        top: 112px;
        left: 20px;

    }

    .clocks input {
        width: 250px;
    }

    .uzor-res {
        display: flex;
        justify-content: center;
    }

    .uzor-res img {
        width: 300px;
        margin-top: -30px;
    }

    .bg-reserv {
        height: 1200px;
    }

    .reservation {
        height: 2100px;
    }

    .reserv_head_txt h1 {
        font-size: 40px;
    }

    .registration-submit {
        width: 400px;
    }

    .reg-sub {
        /* display: block; */
        visibility: visible;
        top: 25%;
        left: 23%;
        transition: .5s ease;

    }


}

@media(max-width:700px) {
    .about_img {
        display: flex;
        justify-content: center;
    }

    .about_img img {
        width: 80%;
    }

    .lasagne-txt {
        width: 100%;
    }

    .lasag {
        width: 100%;
    }

    .fee p:nth-child(2) {
        display: none;
    }

    .fee span:nth-child(3) {
        color: #E8BE7F;
    }

    .ourtxt p {
        width: 200px;
    }

    .links button {
        font-size: 20px;
    }

    .offer-img p {
        width: 80%;
        font-size: 40px;
    }

    .footerPart {
        display: flex;
        flex-wrap: wrap;
    }

    .dontcook p:nth-child(1) {
        width: 400px;
        font-size: 36px;
    }

    .dontcook p:nth-child(2) {

        font-size: 18px;
    }

    .about_txt p:nth-child(3) {
        font-size: 20px;
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .about_txt p:nth-child(1) {
        width: 100%;
    }

    .about_txt h1:nth-child(2) {
        width: 100%;
    }

    .about_txt {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .registration-submit {
        width: 350px;
        height: 450px;
    }

    .reg-sub {
        /* display: block; */
        visibility: visible;
        top: 25%;
        left: 20%;
        transition: .5s ease;

    }

    .thanks p {
        font-size: 20px;
        width: 250px;
        text-align: center;
    }

}

@media(max-width:530px) {
    .reg-sub {
        /* display: block; */
        visibility: visible;
        top: 25%;
        left: 16%;
        transition: .5s ease;

    }

}

@media(max-width:500px) {
    .about_img {
        display: flex;
        justify-content: center;
    }

    .about_img img {
        width: 80%;
    }

    .first_img {
        background-image: url("../img/blog-13-740x600\ 1.svg");
        width: 80%;
        height: 484px;
        background-repeat: no-repeat;
    }

    .second_img {
        background-image: url("../img/blog-13-740x600\ 1 (1).svg");
        width: 80%;
        height: 484px;
        background-repeat: no-repeat;
    }

    .third_img {
        background-image: url("../img/blog-13-740x600\ 1 (2).svg");
        width: 80%;
        height: 484px;
        background-repeat: no-repeat;
    }

    .specialoffer {
        background-color: #252525;
        width: 100%;
        height: 1800px;
    }

    .OurMenu {
        background-color: #252525;
        height: 1831px;
    }

    .blog-img {
        padding-top: 50px;
    }

    .team-img {
        padding-top: 50px;
    }

    .OurMenu {
        height: 1900px;
    }

    .uzor {
        background: none;
        height: 15%;
    }

    .firstoffer,
    .secondoffer,
    .thirdoffer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .firstoffer img,
    .secondoffer img,
    .thirdoffer img {
        width: 80%;
        padding: 0;
    }

    .firstoffer {
        padding-top: 50px;
    }


    .reserv_head_txt h1 {
        font-size: 34px;
        padding-top: 50px;

    }

    .first-inp,
    .second-inp {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .first-inp input {
        width: 80%;
        height: 50px;
        background-color: #1A1B1C;
        border: 1px solid #E8BE7F;
        padding: 10px 20px;

    }

    .second-inp {
        display: flex;
        justify-content: center;
        color: white;
    }

    .second-inp input,
    .second-inp select {
        width: 80%;
        height: 50px;
        background-color: #1A1B1C;
        color: white;
        margin-top: 0;
        border: 1px solid #E8BE7F;
        padding: 10px 20px;

    }

    .second-inp select {
        height: 70px;
        width: 93%;
        margin-top: 20px;


    }

    .textarea {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textarea textarea {
        width: 80%;
        height: 100px;
        max-width: 80%;
        max-height: 100px;
        min-width: 80%;
        min-height: 100px;
        margin-top: 50px;
        background-color: #1A1B1C;
        border: 1px solid #E8BE7F;
        padding: 10px 20px;

    }

    .textarea button {
        margin-top: 50px;
        width: 80%;
        height: 50px;
        background-color: #E8BE7F;
        padding: 10px 20px;
    }

    .bg-reserv {
        height: 900px;
    }

    .uzor-res img {
        width: 200px;
        margin-top: -20px;
    }

    .willium,
    .steave,
    .mehri {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .willium img,
    .steave img,
    .mehri img {
        width: 80%;
    }

    .team-img {
        flex-direction: row;
    }

    .lasag {
        padding-bottom: 20px;
    }

    .menu-right {
        padding-top: 60px;
    }

    .experiencedteam {
        background-color: #252525;
        height: 1500px;
        width: 100%;
        padding-top: 50px;
    }

    .reservation {
        height: 1600px;
    }

    .footerPart {
        flex-direction: column;
        align-items: center;
    }

    .footer-img {
        padding: 0;
        margin: 0;
    }

    .footer-img img {
        width: 310px;
    }

    .ourtxt p {
        width: 150px;
        padding-bottom: 30px;
    }

    .selects {
        width: 95%;
    }

    .selects img {
        position: absolute;
        top: 80px;
        left: 20px;
        /* left: 10px; */
    }

    .selects select {
        width: 100%;
        height: 70px;
    }

    .datee {
        position: relative;
        width: 95%;

    }

    .datee img {
        position: absolute;
        top: 65px;
        left: 15px;

    }

    .datee input {
        width: 85%;
    }

    .clocks {
        position: relative;
        width: 95%;

    }

    .clocks img {
        position: absolute;
        top: 65px;
        left: 20px;

    }

    .clocks input {
        width: 85%;
    }

    .registration-submit {
        width: 300px;
        height: 450px;
    }

    .reg-sub {
        /* display: block; */
        visibility: visible;
        top: 25%;
        left: 17%;
        transition: .5s ease;

    }

    .thanks p {
        font-size: 20px;
        width: 250px;
        text-align: center;
    }

    .secondoffer,
    .thirdoffer {
        padding: 30px 0 0 0;
    }

    .offer-img p {
        width: 80%;
        font-size: 30px;
    }


}

@media(max-width:430px) {
    .dontcook p:nth-child(1) {
        font-size: 30px;
        width: 99%;
    }

    .dontcook p:nth-child(2) {
        font-size: 16px;
    }

    .lasagne-img img {
        width: 106px;
        height: 136px;
    }

    .fee {
        width: 100px;
    }

    .fee p {
        width: 100px;
    }

    .ourtxt p {
        width: 120px;
        padding-bottom: 30px;
    }

    .links button {
        font-size: 18px
    }

    .registration-submit {
        width: 300px;
        height: 400px;
    }

    .reg-sub {
        /* display: block; */
        visibility: visible;
        top: 25%;
        left: 11.5%;
        transition: .5s ease;

    }

    .thanks {
        height: 300px;
    }

    .thanks p {
        font-size: 20px;
        width: 250px;
        text-align: center;
    }

    .during {
        font-size: 18px;
    }

}

@media(max-width:370px) {
    .dontcook p:nth-child(2) {
        font-size: 14px;
    }

    .registration-submit {
        width: 300px;
        height: 450px;
    }

    .reg-sub {
        /* display: block; */
        visibility: visible;
        top: 25%;
        left: 10%;
        transition: .5s ease;

    }

    .thanks p {
        font-size: 20px;
        width: 250px;
        text-align: center;
    }

    .about_txt p:nth-child(3) {
        width: 80%;
        font-size: 18px;
    }

    .during {
        font-size: 17px;
    }

}